<li class="collection-item avatar">
  <i class="mdi-action-description circle"></i>
  <b class="title"><%= note.theme.description %></b>
  <p>
    <a href="<%= note.attachment %>" target="_blank"><%=note.name %></a>
    <br>
     <span style="font-size: 75%"><%=note.created_at %></span> 
  </p>
  <a href="#<%=note.id %>" class="secondary-content" onclick="rate_note(<%=note.id %>)">
    <i class="mdi-action-grade"></i>
  </a>
</li>