<h1>New Note</h1>

<%= form_for [@theme,@note], html: { multipart: true } do |f| %>
	<div class="file-field input-field">
	    <%= f.text_field :name, class: "file-path validate" %>
	    <%= f.label :attachment %>
	    <div class="btn">
    	    <span>File</span>
	    	<%= f.file_field :attachment %>
		</div>
	</div>
	    <%= f.submit "Save", class: "btn" %>
 <% end %>