<p id="notice"><%= notice %></p>

<h1>Listing Themes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Minutes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.description %></td>
        <td><%= theme.minutes %></td>
        <td><%= link_to 'Show', subject_theme_path(@subject,theme) %></<td>
        <td><%= link_to 'Edit', edit_subject_theme_path(@subject,theme) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Theme', new_subject_theme_path %>
<p>Total minutes: <%=@themes.reduce(0){|sum,theme|sum+theme.minutes} %></p>
<br>

 
  
 