<link  rel="stylesheet" type="text/css" href="/assets/css/line_chart_animation.css">
<div class="row">
   <div class="col s12 m6 l6">
      <h4 class="header card-panel pink darken-3">
        <span class="white-text text-darken-2">Near exam</span>
      </h4>
      <div class="card-panel indigo lighten-5">
        <div class="row">
          <div class="col s4 m4 l4">
              <label><span class="black-text text-darken-2">Date</span></label>
              <p><%=@first_exam.date %></p>  
          </div>
          <div class="col s4 m4 l4">
              <label><span class="black-text text-darken-2">Exam</span></label>
              <p><%=@first_exam.description %></p>  
          </div>
          <div class="col s4 m4 l4">
             <label><span class="black-text text-darken-2"> Hours estimate</span></label>
             <p><%=@first_exam.sum_themes.to_hours %></p> 
          </div>
        </div>
        <div  class="ct-chart ct-golden-section" id="chart_pie"></div>
   </div>
</div>

   <div class="col s12 m6 l6">
     <h4 class="header card-panel pink darken-3">
        <span class="white-text text-darken-2">All study sessions</span>
     </h4>
     <div class="card-panel indigo lighten-5">
       <div class="ct-chart ct-golden-section" id="chart_line"></div>
     </div>
   </div>

 




</div>
 <script>
 $( document ).ready(function() {
    Materialize.showStaggeredList('#staggered-test')
  });
  
  function pie(){
 new Chartist.Pie('#chart_pie', {
  series: [<%=@first_exam.study_percent(current_user)%> ]
}, {
  donut: false,
  donutWidth: 40,
  startAngle: 270,
  total: 100,
  showLabel: true
});
  }
  
  //*******************************
  /* Initialize the chart with the above settings */
  
function line(){
  var dates = [];
    <% @study_sessions.each do |theme| %>
      dates.push('<%= theme.date %>');
    <% end %>
  new Chartist.Line('#chart_line', {
    labels: dates,
    series: [
      <%=@study_sessions.map{|study_session|study_session.minutes}%>
    ]
  }, {
    fullWidth: true,
    chartPadding: {
      right: 40
    }
  });
}


line();
pie();
//************

  </script>