<link  rel="stylesheet" type="text/css" href="/assets/css/line_chart_animation.css">
<div class="row">
   <div class="col s12 m12 l6">
      <div class="card-panel indigo lighten-5">
        <%=@first_exam.date %>  
        <%=@first_exam.description %>	
      	<%=@first_exam.sum_study_sessions(current_user)*100 /@first_exam.sum_themes %>
      </div>
   </div>
   <div class="col s12 m12 l6">
     <div class="card-panel indigo lighten-5">
       <div class="ct-chart ct-golden-section" id="chart2"></div>
     </div>
   </div>
   <div class="col s12 m12 l6">
     <div class="card-panel indigo lighten-5">
       <div id="my-chart" class="ct-chart ct-golden-section"></div>
     </div>
   </div>

   <div class="col s12 m12 l6">
     <div class="card-panel indigo lighten-5">
       <div id="my-chart2" class="ct-chart ct-golden-section"></div>
     </div>
   </div>



</div>
 <script>
 $( document ).ready(function() {
    Materialize.showStaggeredList('#staggered-test')
  });
  var contents = [];
  <% @first_exam.themes.each do |theme| %>
    contents.push('<%= theme.description %>');
  <% end %>

    <%=@first_exam.themes.map{|theme|theme.minutes}%>


/* Add a basic data series with six labels and values */
  var data = {
    labels: ['1', '2', '3', '4', '5', '6'],
    series: [
      {
        data: [1, 2, 3, 5, 8, 13]
      }
    ]
  };
  
  //*******************************
  /* Initialize the chart with the above settings */
  new Chartist.Bar('#my-chart', data);

var dates = [];
  <% @study_sessions.each do |theme| %>
    dates.push('<%= theme.date %>');
  <% end %>
new Chartist.Line('.ct-chart', {
  labels: dates,
  series: [
    <%=@study_sessions.map{|study_session|study_session.minutes}%>
  ]
}, {
  fullWidth: true,
  chartPadding: {
    right: 40
  }
});

//************
new Chartist.Pie('#my-chart2', {
  labels: ['as','asss'],
  series: [<%=@first_exam.sum_study_sessions(current_user)*100 /@first_exam.sum_themes %>,100-<%=@first_exam.sum_study_sessions(current_user)*100 /@first_exam.sum_themes %>]
}, {
  donut: true,
  donutWidth: 60,
  startAngle: 270,
  total: 100,
  showLabel: true
});


  </script>