<h1>Index Exams</h1>	

<table>
  <thead>
  <tr>
    <th>Exam description</th>
    <th>Themes estimate time </th>
    <th>Minutes Study</th>
  </tr>
    </thead>
<tbody>

<% @schools.each do |school| %>
	<b> <%=school.name%> <i class="mdi-navigation-chevron-right"></i> </b>
	
	<% school.courses.each do |course| %>
         <%=course.name %> <i class="mdi-navigation-chevron-right"></i>
		
		<% course.subjects.each do |subject| %>
	         <%=subject.name %>  
		
			<% subject.exams.each do |exam| %>
		        <tr>
		        	<td> <%=exam.description %>  </td>
		        	<td> <%=exam.sum_themes %>  </td>
		        	<td> <%=exam.sum_study_sessions(current_user) %>  </td>
		        	
   				    <td><%= link_to 'Show', school_course_subject_exam_path(school,course,subject,exam)%></td>
   				    <td><%= link_to 'New study session', new_school_course_subject_exam_study_session_path(school,course,subject,exam)%></td>
				</tr>
			<% end %>
	
		<% end %>


	<% end %>

<% end %>