	<% @subjects.each do |subject| %>
<div class="card-panel indigo lighten-5">
		<blockquote>	
		 <b ><%= subject.course.school.name %></b> <i class="mdi-navigation-chevron-right"></i>
		 <%= subject.course.name %> <i class="mdi-navigation-chevron-right"></i>
		 <%= subject.name %> <i class="mdi-navigation-chevron-right"></i>
		</blockquote>
		<table class="bordered">
		  <thead>
		  <tr>
		    <th>Exam description</th>
		    <th>Themes estimate time </th>
		    <th>Minutes Study</th>
		    <th>Study %</th>
		    <th>Missing dates</th>
		    <th>Study session</th>
		    <th>Themes</th>
		  </tr>
		 </thead>
		<% subject.exams.each do |exam| %>
			<tbody>
			    <tr>
			    	<td> <b><%=exam.description %></b> <span style="font-size: 75%"><%=exam.date %></span>  </td>
			    	<td> <%=exam.sum_themes %>  </td>
			    	<td> <%=exam.sum_study_sessions(current_user) %>  </td>
			    	<td> <%=exam.sum_study_sessions(current_user)*100 /exam.sum_themes %>  </td>
			    	<td> <%=(exam.date - Date.today).to_i  %>  </td>
			
			        <td><a href="<%= school_course_subject_exam_study_sessions_path(subject.course.school,subject.course,subject,exam)  %>"><i class="small mdi-action-visibility"></i></a>
					<a href="<%= new_school_course_subject_exam_study_session_path(subject.course.school,subject.course,subject,exam)  %>"><i class="small mdi-image-loupe"></i>   </a>
			        </td>
			        <td><a href="<%= school_course_subject_exam_themes_path(subject.course.school,subject.course,subject,exam)  %>"><i class="small mdi-action-description"></i>   </a></td>
				</tr>
			</tbody>
		<% end %>
		</table>
</div>
	<% end %>

	