	<% @subjects.each do |subject| %>
		<%= subject.course.school.name %> <i class="mdi-navigation-chevron-right"></i>
		<%= subject.course.name %> <i class="mdi-navigation-chevron-right"></i>
		<%= subject.name %> <i class="mdi-navigation-chevron-right"></i>
		<table>
		  <thead>
		  <tr>
		    <th>Exam description</th>
		    <th>Themes estimate time </th>
		    <th>Minutes Study</th>
		    <th>Study %</th>
		    <th>Date</th>
		    <th>Study session</th>
		    <th>Themes</th>
		  </tr>
		 </thead>
		<% subject.exams.each do |exam| %>
			<tbody>
			    <tr>
			    	<td> <%=exam.description %>  </td>
			    	<td> <%=exam.sum_themes %>  </td>
			    	<td> <%=exam.sum_study_sessions(current_user) %>  </td>
			    	<td> <%=exam.sum_study_sessions(current_user)*100 /exam.sum_themes %>  </td>
			    	<td> <%=(exam.date - Date.today).to_i  %>  </td>
			        <td>
			        <%= link_to 'View study session', school_course_subject_exam_study_sessions_path(subject.course.school,subject.course,subject,exam) %>
			        <%= link_to 'Add study session', new_school_course_subject_exam_study_session_path(subject.course.school,subject.course,subject,exam) %>
			        </td>
			        <td><%= link_to 'Themes', school_course_subject_exam_themes_path(subject.course.school,subject.course,subject,exam) %></td>
					
				</tr>
			</tbody>
		<% end %>
		</table>
	<% end %>
