<p id="notice"><%= notice %></p>

<h1>Listing Exams</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.description %></td>
        <td><%= exam.date %></td>
        <td><%= link_to 'Show', controller: "exams", action: "show", id: exam %></td>
        <td><%= link_to 'Edit', controller: "exams", action: "edit", id: exam %></td>
        <td><%= link_to 'Destroy',id: exam, controller: "exams", action: "destroy", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exam', new_subject_exam_path %>
