<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>
<%= link_to 'Edit', edit_school_course_subject_exam_path(@school,@course,@subject,@exam) %> |
<%= link_to 'Back', school_course_subject_exams_path %>

 <div class="ct-chart ct-golden-section" id="chart2"></div>
 <script>
  var contents = [];
  <% @exam.themes.each do |theme| %>
    contents.push('<%= theme.description %>');
  <% end %>

  new Chartist.Bar('.ct-chart', {
  labels: contents,
  series: [
    <%=@exam.themes.map{|theme|theme.minutes}%>
  ]
}, {
  seriesBarDistance: 10,
  reverseData: true,
  horizontalBars: true,
  axisY: {
    offset: 70
  }
});
  </script>